html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;   
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 69px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    margin-top: 0;
}


main {
    margin-top: 69px;
}
.logo {
    float: left;
    text-align: center;
}

.logo img {
    height: 50px;
}

.head-item {
    display: inline-block;
}

.nav {
    float: right;
    text-align: center;
}

.nav li {
    display: inline-block;
    padding: 0 10px;
}

a {
    color: seashell;
}

.intro {
    height: 700px;
    width: auto;
    background-image: url(../images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.mission {
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.tea-month {
    width: 75%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.tea-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}

.tea-selection img {
    max-width: 300px;
    max-height: 200px;
    height: auto;
    
}

.location {
    text-align: center;
    min-height: 600px;
    width: auto;
    background-image: url(../images/img-locations-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-bottom: 10px;
    
}

.location .title {
    padding-top: 25px;
    padding-bottom: 15px;
}

.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    margin: 1em 0;
}

.place {
    background-color: black;
    opacity: 1;
    min-width: 300px;
    height: 50%;
}

.ending {
    text-align: center;
    height: 200px;
    width: auto;
}

footer {
    float: left;
}